html {
  font-size: 10px;
  font-family: 'Fresca', sans-serif;
}

.wrapper {
  width: 320px;
  margin: 10px auto;

  font-size: 1.6rem;

  border-radius: 10px;
  padding: 10px;

  position: relative;


  background: #fcecfc; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fcecfc), color-stop(50%,#fba6e1), color-stop(51%,#fd89d7), color-stop(100%,#ff7cd8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* IE10+ */
  background: linear-gradient(45deg,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  box-shadow: 2px 4px 4px rgba(0,0,0,.5);
}

h1 {
  font-size: 5.4rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  text-shadow:2px 2px 2px rgba(0,0,0, .5);
  color: #fff;

}

form {
  background: #eee;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0, .3);
  
}

input[type=text] {
  width: 3rem;
  padding: 3px 5px;
  margin: 5px;
}

.button-wrap {
  text-align: right;
}

input[type=button] {
  padding: 2px;
}

.correct {
  display: none;
}

.incorrect {
  display: none;
}

.next {
  display: none;
}

table {
  width: 100%;
  border-width: 0px;
  border-spacing: 0px;
  border-style: none;
  background: #fff;
}
td {
  border: solid 1px #ddd;
  padding: 5px;
  background-color: "fff";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}

td span {
  display: block;
}

.player {
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.question {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

td .player1 {
  border: solid 2px red;
  border-radius: 15px;
}

td .player2 {
  border: solid 2px blue;
  border-radius: 15px;
}

.winner {
  position: absolute;
  top: 290px;
  background: #fff;
  width: 200px;
  padding: 20px;
  margin: 0 40px;

  border: solid 3px #fcecfc;

  font-size: 2.4rem;
  display: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 2px 4px 4px rgba(0,0,0,.5);
}

.winner.won {
  display: block;
}

.winner .player1,
.winner .player2 {
  display: none;
}

.winner .player1.won,
.winner .player2.won {
  display: inline;
}


